.itemContainer--category {
  width: 14%;
  display:flex !important;
}
.section--department {
  padding-left: 50px;
  display: block;
}
.departmentList {
  display: contents;
}
.departmentLink {
      color: black;
      font-size: 16px;
}