.galleryLayoutOptionButton {
  background-color: #F0F0F0;
  color: #3F3F40;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #3F3F40;
  color: #FFFFFF;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center
}

.galleryItem--list {
  border-bottom: 1px #E7E9EE solid;
}
.gallery--grid {
  justify-content: space-around;
}
.galleryItem--grid {
  margin: 0px 20px
}
.galleryTitle--layout{
  margin-left: 30%;
  font-size: 26px;
}
.totalProducts--layout{
    position: absolute;
    left: 26%;
}

