.item {
    background-color: #fff;
    width: 28%;
    margin: 0px 33px;
    margin-bottom: 20px;
}
.list {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 22px;
}
@media screen and (max-width: 500px) {
    .item {
        background-color: #fff;
        margin: 0 20px;
        margin-bottom: 20px;
        width: 100%;
        margin-left: 0px;
    }
    .list {
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0px;
    }
  }