.productRecsContainer {
    margin: auto;
    width: 85%;
    margin-bottom: 50px;
}
.productRecsHeading {
    text-align: center;
}
.productImg {
    height: 285px;
    width: 100%;
}
.productPrice {
    font-weight: 600;
    font-size: 18px;
    color: #2E2E2E;
    text-align: center;
}
.productName {
    font-weight: 600;
    font-size: 18px;
    color: #2E2E2E;
    text-align: center;
}
.categoryContainer {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 50%;
    margin-left: 10%;
}
.bannersContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.bannerImg {
    width: 75%;
    margin-bottom: 25px;
}
.homeBannerHeading {
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    width: 70%;
    margin: 25px 0px;
    letter-spacing: 0.4px;
}
.bannerCategory {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
}